.headerContainer {
  padding: 1rem;
}

.headerInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #a1e6f6;
  background-color: #141114;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 2px;
  text-shadow: 0 0 0.6rem #a1e6f6, 0 0 1.5rem #a1e6f6,
    -0.2rem 0.1rem 1rem #a1e6f6, 0.2rem 0.1rem 1rem #a1e6f6,
    0 -0.5rem 2rem #a1e6f6, 0 0.5rem 3rem #a1e6f6;
  animation: shine 2s forwards, flicker 3s infinite;
  transition: all 0.3s ease-in-out;
}

@keyframes shine {
  0% {
    color: #a1e6f6;
    text-shadow: none;
  }
  100% {
    color: #a1e6f6;
    text-shadow: 0 0 0.6rem #a1e6f6, 0 0 1.5rem #a1e6f6,
      -0.2rem 0.1rem 1rem #a1e6f6, 0.2rem 0.1rem 1rem #a1e6f6,
      0 -0.5rem 2rem #a1e6f6, 0 0.5rem 3rem #a1e6f6;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.92;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
